@charset "utf-8";

.header {
  width: 100%;
  min-width: 320px;
  height: 80px;
  @media screen and (max-width: 768px) {
    h1 {
      font-size: x-large;
    }
    height: 60px;
  }
  @media screen and (max-width: 320px) {
    h1 {
      font-size: larger;
    }
    height: 50px;
  }
  background-color: #242f9b;
  color: #ffffff;
  display: flex;
  justify-content: space-between;

  .sign-out-button {
    color: #ffffff;
    margin: auto 25px auto auto;
  }
}
